<a href= "/doctors/doctor_edit"><button type="submit">Add Doctor</button></a>
<a href= "/"><button type="submit">Home</button></a>
<form action="/doctors/search" method="post">	
	<input type="text" name="query" placeholder="Search by name" />						
	<button type="submit" class="btn btn-default">Search</button>
</form>
<div style="color:red;" th:text="${err}"></div>
<table border="1">
<tr>
<td>ID</td>
<td>FirstName</td>
<td>LastName</td>
<td>TitleDoctor</td>
<td>PhoneNumber</td>
<td>DoctorEmail</td>
<td>FirstSpecialization</td>
<td>SecondSpecialization</td>
<td>Show Phone Number</td>
<td>Show Email</td>
<td>Actions</td>
</tr>
<tr th:each="doctor : ${doctors}">
					<td th:text="${{doctor.id}}"></td>
					<td th:text="${{doctor.firstName}}"></td>
					<td th:text="${{doctor.lastName}}"></td>
					<td th:text="${{doctor.titleDoctor}}"></td>
					<td th:text="${{doctor.phoneNumber}}"></td>
					<td th:text="${{doctor.doctorEmail}}"></td>
					<td th:text="${{doctor.specialization1}}"></td>
					<td th:text="${{doctor.specialization2}}"></td>
					<td th:text="${{doctor.showPhoneNumber}}"></td>
					<td th:text="${{doctor.showEmail}}"></td>
					<td>
						<a th:href="@{/doctors/doctor_edit?id={id}(id=${{doctor.id}})}">Edit Doctor</a>
						<a th:href="@{/doctors/doctor_delete?id={id}(id=${{doctor.id}})}">Delete Doctor</a>
						<a th:href="@{/review_list?id={id}(id=${{doctor.id}})}">Reviews of the Doctor</a>						
					</td>
</tr>
</table>

<!-- <a href= "/doctors/doctor_add?action=add"><button type="submit">Add Doctor</button></a>  -->