
<html>
 
<form action="/doctorsOfTheHospital" method="post" >

  <select id="doctorID" name="doctor.id">
  	
	<option name="id"  th:each="doctor : ${doctors}" th:value="${{doctor.id}}"
		th:text="${{doctor.firstName+' '+doctor.lastName}}">Wireframe</option>
</select> 

<select id="hospitalID" name="hospital.id">
 	
	<option name="id"  th:each="hospital : ${hospitals}" th:value="${{hospital.id}}"
		th:text="${{hospital.hospitalName}}">Wireframe</option>
 </select>

 <input type="submit" value="Save Doctor to Hospital" />
</form>

  
<!-- <select>
	<option th:each="type : ${alltypes}" th:value="${{type.type}}"
		th:text="${{type.type}}">Wireframe</option>
</select> -->

</html>