<a href="/hospitals/hospital_add">Add Hospital</a>

<a href="/hospitals/doctorToHospitalAdd">Add Doctor To Hospital</a>
<a href= "/"><button type="submit">Home</button></a>


<table>
<tr>
<td>Name</td>
<td>Street</td>
<td>Street number</td>
<td>Neighborhood</td>
<td>Phone number</td>
<td>Email</td>
<td>Doctors</td>
</tr>

<tr th:each="hospital : ${hospitals}">
					<td th:text="${{hospital.hospitalName}}"></td>
					<td th:text="${{hospital.streetName}}"></td>
					<td th:text="${{hospital.streetNumber}}"></td>
					<td th:text="${{hospital.neighbourhood}}"></td>
					<td th:text="${{hospital.phoneNumber}}"></td>
					<td th:text="${{hospital.hospitalEmail}}"></td>
					<td th:text="${{hospital.listOfDoctors}}"></td>
					<td>
					    <a th:href="@{/doctors/doctor_edit?id={id}(id=${{doctor.id}})}">Edit Doctor</a> -->
					  	<a th:href="@{/doctors/doctor_delete?id={id}(id=${{doctor.id}})}">Delete Doctor</a> -->
					 	<a th:href="@{/review_list?id={id}(id=${{doctor.id}})}">Reviews of the Doctor</a>						
					</td>
</tr>
</table>



